<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1><%= @product.name %></h1>
<%= link_to "View in dashboard", admin_product_path(@product) %>
<br>
<%= link_to "View on website", @monitored_url.url %>
<%= render partial: "products/details", locals: { product: @product} %>
</body>
</html>
